#contenido{
    width: 1250px;
    margin: 0px auto;
}

table{
    text-align: center;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    color: black
}

.nav{
    border-bottom: 10px solid yellow;
    background: black;
}

a{
    color: white;
    text-decoration: none;
}

p{
    text-align: justify;
    font-size: 20px
}

.di{
    color: blue;
}

section{
    margin-top: 10px;
    text-align: center;
}

.seccion {
    padding: 75px;
}

.tpue{
    text-align: justify;
    margin-bottom: 50px;
    border-bottom: 5px solid red;
}

h1{
    text-align: center;
    color: black;
    background: yellow;
    border-bottom: 5px solid red;
}

.article{
    padding: 100px;
    width: 750px;
}

.espacio{
    margin-right: 75px;
}

.sitios{
    margin-top: 50px;
    margin-bottom: 50px;
    background: lightgray;
    color: black;
}

.articulos{
    background: white;
    margin-top: 30px;
    margin-bottom: 30px;
}

footer{
    font-size: 17px;
    padding: 10px;
    text-align: center;
    background: black;
    color: white;
}

