*{
    margin: auto;
}

#contenido{
    margin: 0;
}

header{
    background-color: rgb(18, 7, 48);
    width: 100%;
    height: 80px;
}

.alumno{
    font-family: monospace;
    margin-top: 180px;
    margin-bottom: 162px;
    text-align: center;
    font-size: 40px;
}

.nav{
    text-align: center;
    list-style: none;
    font-size: 20px;
    padding: 0;
    background-color: rgb(182, 120, 5);
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
    border-top: 2px solid white;
}

.nav li a{
    text-decoration: none;
    color: white;
    padding: 15px;
    display: block;
}

.nav li{
    display: inline-block;
}

.nav li a:hover{
    background-color: rgba(0, 0, 0, 0.836);
    color: white;
    border-radius: 25px;
}

h2{
    padding-top: 70px;
    border-bottom: 5px solid red;
    width: 435px;
    height: 230px;
    color: black;
    text-align: center;
    margin-top: 50px;
    width: 450px;
    height: 30px;
}

footer{
    background-color: black;
    text-align: center;
    width: 100%;
    height: 51px;
    display: inline-block;
    font-size: 17px;
    color: white;
}

